/***** Slider Style *****/
.carousel-indicators {
    left: unset;
    margin-right: unset;
    right: 10%;
    bottom: 4rem;
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel-indicators .active {
    background-color: var(--main-app-color);
}

.carousel-caption {
    text-align: right;
    left: unset;
    right: 11%;
    bottom: 6rem;
}

.mainText {
    font-size: 1.32rem;
    font-weight: bold;
    line-height: .5;
}

.subText {
    font-size: 1.32rem;
}


/****** Home Style *****/
@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.box {
    border-radius: 2.125rem;
    border: 1px solid #C8C8C8;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
    height: fit-content;
    width: 95%;
    margin: 1.875rem auto 2rem auto;
}

.errorMsg {
    display: flex;
    justify-content: flex-end;
    font-size: 0.73rem;
    margin-top: 0.3rem;
    padding-right: 0.5rem;
    color: var(--error-color);
}



.loadingIcon {
    animation: rotate-s-loader 1s linear infinite;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.box-logo {
    margin-top: 2rem;
    width: 35%;
    margin-bottom: 3rem;
}


.choices {
    width: 70%;
    margin: auto;
}


.choices .btn-custom {
    min-height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    width: 100%;
    font-weight: 400;
    margin-bottom: 1rem;
    background-color: var(--white-color);
    border: 2px solid var(--border-color);
    color: var(--main-app-color);
    transition: all 300ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.choices .btn-custom:last-of-type {
    margin-bottom: 2.5rem;
}

.choices .btn-login {
    border: none;
    background-color: var(--main-app-color);
    color: var(--white-color);
}

.choices .btn-custom:hover {
    background-color: #EFEFF4;
    color: var(--main-hover-color);
    border: 2px solid #EFEFF4;
}

.choices .btn-login:hover {
    background-color: var(--main-hover-color);
    color: var(--white-color);
    border: none;
}


.discover {
    margin-bottom: 3.5rem;
}

.discover .app {
    width: 40%;
}


/******* Login Page Style *******/
.headerText {
    font-weight: bold;
    color: var(--main-hover-color);
}

.apps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.LoginApp {
    min-width: 7.75rem;
    background-color: var(--white-color);
    border: 1px solid #F5F5F5;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
}

.LoginApp:hover {
    background-color: #E4E4E4;
    border: 1px solid #EFEFF4;
}


.LoginApp img {
    display: inline-block;
    margin-right: 0.5rem;
}

.or {
    font-size: 0.5rem;
    color: var(--border-color);
}

.or::before,
.or::after {
    display: inline-block;
    content: "";
    border-top: 1px dashed var(--border-color);
    width: 6.4rem;
    margin-right: 0.8rem;
    margin-left: .8rem;

}

.mainForm {
    margin-top: 1rem;
}

.custom-form-group {
    position: relative;
}

.custom-input {
    background-color: var(--white-color);
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    text-align: right;
}


.custom-input.error {
    border: 2px solid var(--error-color);
}

.custom-input.success {
    border: 2px solid var(--success-color);
}

.topLabel {
    display: none;
}

.custom-input:focus {
    color: #495057;
    background-color: var(--white-color);
    border-color: var(--main-app-color);
    outline: 0;
    box-shadow: none;
}

/*.custom-input:focus + .topLabel{*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    font-size: 10px;*/
/*    background-color: var(--white-color);*/
/*    top: -7px;*/
/*    right: 5%;*/
/*    padding: 0 0.125rem;*/
/*    transition: all 250ms ease-in-out;*/
/*}*/

.topLabel.full {
    display: inline-block !important;
    position: absolute;
    font-size: 10px;
    background-color: #FFFFFF;
    top: -7px;
    right: 5%;
    padding: 0 0.125rem;
    transition: all 250ms ease-in-out;
}

.clear, .clearPassword {
    position: absolute;
    color: #E3E2E2;
    cursor: pointer;
    font-size: 1.3em;
}

.clear {
    left: 3%;
    top: 10%;
}

.clearPassword {
    left: 15%;
    top: 3%;
}

.togglePassword {
    position: absolute;
    top: 7%;
    cursor: pointer;
    left: 2%;
    color: black;
    font-size: 0.78rem;
}


.form-control::placeholder {
    text-align: right;
    font-weight: 600;
    color: #CCCCCC;
}


.btn-custom.btn-notActive {
    border: 2px solid var(--main-app-color);
    transition: all 500ms ease-in-out;
}


/******* Signup page Style ********/

.steps {
    width: 40%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.steps li:first-child:after {
    position: absolute;
    z-index: -11;
    content: '';
    justify-self: flex-start;
    border: 2px solid #D6D6D6;
    width: 6.5rem;
    top: 50%;
    left: 1rem;
}

.steps li {
    font-size: 1.1rem;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    background-color: #D6D6D6;
    color: var(--main-hover-color);
}

.steps li.active {
    background-color: #D48D9F;
    color: var(--white-color);
}

.createVector {
    display: inline-block;
    margin-top: 0.5rem;
    text-align: center;
    width: 27%;
    margin-bottom: 1rem;
}

.help {
    font-size: 0.75rem;
    margin: 1.12rem 0;
}

/***** First Step  *****/
.toggleInput {
    font-size: 0.65rem;
    width: 100%;
    color: #2680EB;
    cursor: pointer;
    padding-right: 0.4rem;
    padding-top: 0.25rem;
}

#toggleGroup-p {
    display: none;
}


.conditions {
    color: var(--border-color);
    font-size: 0.875rem;
    margin-top: 1rem;
}

.conditions li.success {
    color: var(--success-color);
}

.conditions li.failed {
    color: var(--error-color);
}

.checkbox-wrapper {
    margin-right: 0.99rem;
}

.custom-checkbox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    font-size: 0.89rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}


.custom-checkbox .default-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    right: -0.875rem;
    height: 1.3rem;
    width: 1.3rem;
    background-color: var(--white-color);
    border: 1px solid var(--main-app-color);
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input.default-check ~ .checkmark {
    background-color: #E4E4E4;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input.default-check:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 0;
    width: 8px;
    height: 15px;
    border: solid var(--main-hover-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button.btn-notActive:enabled {
    background-color: var(--main-app-color);
    color: var(--white-color);
}


.btn-custom.btn-gray {
    background-color: #DDDEE3;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: bold;
}

.subHeader {
    font-weight: bold;
    margin: auto;
    width: 70%;
}

.description {
    width: 60%;
    margin: 1rem auto;
}

.options {
    width: 80%;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 1rem;
}

.media .userName {
    color: #7F8189;
    font-size: 1.125rem;
    padding-top: 0.3rem;
    margin-bottom: 0.3rem;
    vertical-align: middle;
}

.custom-checkbox .mainLabel {
    color: #7F8189;
    font-size: 1.125rem;
}

.media .userRole {
    color: #A9AAAF;
    font-size: 0.875rem;
}

.custom-checkbox .labelValue {
    color: #999BA0;
    font-size: 0.75rem;
}

.customRadio {
    position: absolute;
    top: 25%;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
    border: 3px solid #7F7F7F;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .customRadio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-checkbox input:checked ~ span.customRadio {
    background-color: var(--white-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
span.customRadio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-checkbox input:checked ~ span.customRadio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-checkbox span.customRadio:after {
    top: 3px;
    left: 3px;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: var(--main-app-color);
}

.line {
    width: 80%;
    margin: 1rem auto;
    background-color: #B0B0B0
}

.icons {
    color: var(--main-app-color);
    font-size: 1.2em;
    margin-left: 0.5rem;
}

/******  Footer Style *****/

.mainFooter {
    z-index: 55;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.mainFooter ul {
    width: 30%;
    margin-right: 3.1rem;
    justify-self: center;
    list-style: none;
    justify-content: space-around;
    display: flex;
    color: var(--white-color);
    flex-direction: row-reverse;

}

.mainFooter .copyRight {
    width: 35%;
    text-align: center;
}

/***** Forget Password style ****/
.found {
    margin-top: 6rem;
}

/*****  Responsive Breakpoint *****/


@media (min-width: 992px) and (max-width: 1099px) {
    .steps {
        width: 55%;
    }

    .or::before, .or::after {
        width: 4rem;
    }

    .LoginApp {
        min-width: unset
    }
}

@media (min-width: 935px) and  (max-width: 992px) {
    .steps {
        width: 40% !important;
    }

    .steps li:first-child:after {
        width: 11rem;
    }
}

@media (max-width: 992px) {
    .leftSide {
        display: none;
    }


    .rightSide {
        width: 55% !important;
        margin: auto;
    }


    /*Registration Steps */
    .steps {
        width: 45%;
    }

    .steps li:first-child:after {
        width: 10.3rem;
        left: 0;
    }


    .choices {
        width: 71%;
    }

    .discover {
        margin-bottom: 1.5rem;
    }

    /*Footer Responsive*/
    .mainFooter {
        margin-top: 1rem;
        position: unset;
        flex-direction: column-reverse;
    }

    .mainFooter ul {
        width: 65%;
        margin: 1rem auto;
    }

    .mainFooter ul .App-link {
        color: #282c34;
    }

    .mainFooter .copyRight {
        width: 100%;
        margin-bottom: 1rem;
    }

}


@media (max-width: 767px) {
    .steps  {
        display: none;
    }

    .rightSide {
        width: 70% !important;
    }

    .or::before, .or::after {
        width: 6rem;
    }

    .apps {
        justify-content: space-evenly;
    }


    .LoginApp {
        min-width: 5rem;
    }

}


@media (max-width: 576px) {
    .rightSide {
        width: 90% !important;
    }


    .or::before, .or::after {
        width: 4.5rem;
    }
    .mainFooter ul {
        width: 95%;
        margin: 1rem auto;
    }

    .LoginApp .social {
        display: none;
    }

    .mainFooter ul .App-link {
        font-size: .875rem;
    }


}

@media (max-width: 325px) {
    .rightSide {
        width: 100% !important;
    }



    .or::before, .or::after {
        width: 4rem;
    }

    .c , .custom-checkbox{
        font-size: 0.75rem;
    }

    .checkmark {
        top: 1px;
        height: 0.875rem;
        width: 0.875rem;
    }
}
