* {
  margin: 0;
  padding: 0;
}

:root {
  --main-app-color : #CC5775;
  --main-hover-color: #B8405E;
  --white-color : #FFF;
  --error-color : #F00;
  --success-color: #40A459;
  --border-color : #ccc;
}

body {
  margin: 0;
  font-family: 'Cairo', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  position: relative;
}
